<div class="col-sm-4">
	<img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
		     class="grid-image" 
		     alt="{{ content.field_image['#items'].alt }}" 
		     title="{{ content.field_image['#items'].title }}">
	<h1 class="grid-title">{{content.field_title.0}}</h1>
	<p class="grid-desc">{{content.field_description.0}}</p>
</div>