<div class="col-sm-5 wow fadeIn animated" data-wow-delay="0.25s">
	<span class="float-left" ></span>
	<p class="testimonial-desc">{{content.field_review.0}}</p>
	<small class="testimonial-author">{{content.field_name.0}}</small>
	<span class="float-right" ></span>
</div>