<div class="fh5co-slider-outer wow fadeIn" data-wow-delay="0.36s">
	<h1>{{content.field_title.0}}</h1>
	<small>{{content.field_sub_title.0}}</small>
	<div class="container fh5co-slider-inner">
		<div class="owl-carousel owl-theme">
			{{content.field_widget}}
		</div>
	</div>
</div>