{% set position = content.field_image_position.0 %}
{% if "Left" in position %}
<div class="col-sm-6 in-order-1 wow animated fadeInLeft" data-wow-delay="0.22s">
	<div class="col-sm-image-container">
		<img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
		     class="img-float-left" 
		     alt="{{ content.field_image['#items'].alt }}" 
		     title="{{ content.field_image['#items'].title }}">
		{% if content.field_new.0 %}
			<span class="span-new">{{content.field_new.0}}</span>
		{% endif %}
		{% if content.field_free.0 %}
			<span class="span-free">{{content.field_free.0}}</span>
		{% endif %}
		{% if content.field_data.0 %}
			<span class="span-data">{{content.field_data.0}}</span>
		{% endif %}
		{% if content.field_percentage.0 %}
			<span class="span-percent">{{content.field_percentage.0}}</span>
		{% endif %}
	</div>
</div>
{% endif %}

<div class="col-sm-6 in-order-2 sm-6-content wow animated fadeInRight" data-wow-delay="0.22s">
	<h1>{{content.field_title.0}}</h1>
	<p> {{content.field_description.0}} </p>
	{% if content.field_item_link.0 %}
		<span class="circle circle-front">
			<a href="{{content.field_item_link.0['#url']}}"><i class="fas fa-external-link-alt"></i></a>
		</span>
	{% endif %}
	{% if content.field_facebook_link.0 %}
		<span class="circle circle-first">
			<a href="{{content.field_facebook_link.0['#url']}}"><i class="fab fa-facebook"></i></a>
		</span>
	{% endif %}
	{% if content.field_instagram_link.0 %}
		<span class="circle circle-middle">
			<a href="{{content.field_instagram_link.0['#url']}}"><i class="fab fa-instagram"></i></a>
		</span>
	{% endif %}
	{% if content.field_twitter_link.0 %}
		<span class="circle circle-last">
			<a href="{{content.field_twitter_link.0['#url']}}"><i class="fab fa-twitter"></i></a>
		</span>
	{% endif %}
</div>

{% if "Right" in position %}
	<div class="col-sm-6 in-order-1 wow animated fadeInLeft" data-wow-delay="0.22s">
		<div class="col-sm-image-container">
		<img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
		     class="img-float-left" 
		     alt="{{ content.field_image['#items'].alt }}" 
		     title="{{ content.field_image['#items'].title }}">
			{% if content.field_new.0 %}
				<span class="span-new">{{content.field_new.0}}</span>
			{% endif %}
			{% if content.field_free.0 %}
				<span class="span-free">{{content.field_free.0}}</span>
			{% endif %}
			{% if content.field_data.0 %}
				<span class="span-data">{{content.field_data.0}}</span>
			{% endif %}
			{% if content.field_percentage.0 %}
				<span class="span-percent">{{content.field_percentage.0}}</span>
			{% endif %}
		</div>
	</div>
{% endif %}