<div id="fh5co-hero-wrapper" style="background-image: url({{content.field_background_image.0}});" >
	<div class="container fh5co-hero-inner">
		<h1 class="animated fadeIn wow" data-wow-delay="0.4s">{{content.field_title.0}}</h1>
		<p class="animated fadeIn wow" data-wow-delay="0.67s">
			{{content.field_description.0}}
		 </p>
		<button class="btn btn-md download-btn-first wow fadeInLeft animated" data-wow-delay="0.85s" onclick="$('{{content.field_download_link.0["#url"]}}').goTo();return false;">{{content.field_download_link.0["#title"]}}</button>
		<button class="btn btn-md features-btn-first animated fadeInLeft wow" data-wow-delay="0.95s" onclick="$('{{content.field_feature.0["#url"]}}').goTo();return false;">{{content.field_feature.0["#title"]}}</button>
		<img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
		     class="fh5co-hero-smartphone animated fadeInRight wow" 
		     alt="{{ content.field_image['#items'].alt }}" 
		     data-wow-delay="1s"
		     title="{{ content.field_image['#items'].title }}">
	</div>
</div>