<div class="curved-bg-div wow animated fadeIn" data-wow-delay="0.15s"
	style="background-image: url({{content.field_background_image.0}});" >
</div>
	<div id="fh5co-features" class="fh5co-features-outer">
		<div class="container">
			<div class="row fh5co-features-grid-columns">
				{{content.field_feature_list}}
			</div> <!-- row -->
		</div>
	</div>
